{{block "contact-form" .}}
<form
    id="formulario-contacto"
    hx-post="/api/contact"
    hx-swap="outerHTML"
    class="space-y-4">
    <div class="text-sm text-stone-50 space-y-1">
        <label class="px-1" for="name">Nombre</label>
        <input type="text" id="name" name="name" class="block w-full text-stone-900 bg-stone-50 rounded px-2 py-1 text-lg" placeholder="Juan Perez" required>
    </div>
    <div class="text-sm text-stone-50 space-y-1">
        <label class="px-1" for="phone">Teléfono</label>
        <input type="tel" id="phone" name="phone" class="block w-full text-stone-900 bg-stone-50 rounded px-2 py-1 text-lg" placeholder="6181234455" required>
    </div>
    <div class="text-stone-50 space-x-1">
        <input type="checkbox" name="consent" id="consent" required>
        <label for="consent" class="text-sm">Acepto que se me contacte a través de Whatsapp o llamada teléfonica</label>
    </div>
    {{with .ErrorMessage}}
    <p class="text-sm text-red-500 font-semibold">{{/* . */}}</p>
    {{end}}
    {{with .SuccessMessage}}
    <p class="text-sm text-emerald-500 font-semibold">{{.}}</p>
    {{end}}
    <div class="pt-4">
        <button class="w-full text-xl font-semibold bg-orange-500 text-stone-50 rounded px-4 py-3 uppercase">Enviar</button>
    </div>
</form>
{{end}}
