{{define "head"}}
<script src="/static/js/panzoom.js" defer></script>
<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "AIzaSyDvAklgESwp2h3fLI2qOOPP9v_Oc34aosM", v: "weekly"});
</script>
{{end}}
{{define "content"}}
<style>
.slider .slider-dot {
    display: block;
    width: 0.675rem;
    height: 0.675rem;
    border-radius: 999px;
}

.slider .slider-dot.active {
    background-color: rgb(67, 56, 224);
}

.distance-tag::after {
    content:' ';
    position:absolute;
    left:50%;
    top:100%;
    transform:translate(-50%, 0);
    width:0;
    height:0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 18px solid rgb(49 46 129);
}
</style>
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        // Video control
        let videoElem = document.getElementById("hero-video")
        let videoPlayBtn = document.getElementById("video-play-btn")
        let videoCaption = document.getElementById("video-caption")

        videoPlayBtn.addEventListener("click", e => {
            let tl = gsap.timeline({ duration: 0.15, ease: "power2.in" })
            if (videoElem.paused) {
                videoElem.play()
                tl.to(videoCaption, { opacity: 0 })
                return
            }

            videoElem.pause()
            tl.to(videoCaption, { opacity: 1 })
        })

        setTimeout(() => {
            videoElem.play()
            gsap.to(videoCaption, { opacity: 0 })
        }, 100)

        // Hero slider
        let heroPrevBtn = document.getElementById("hero-slider-prev")
        let heroNextBtn = document.getElementById("hero-slider-next")
        let heroSlides = document.querySelectorAll("[data-hero-slider-slide]")
        heroPrevBtn.addEventListener("click", e => {
            let slideCount = heroSlides.length
            if (slideCount <= 1) {
                return
            }
            let activeSlide = document.querySelector(".active[data-hero-slider-slide]")
            let activeIndex = 0

            if (activeSlide) {
                activeIndex = parseInt(activeSlide.dataset.heroSliderSlide) - 1
                if (activeIndex < 0) activeIndex = slideCount - 1
                activeSlide.classList.remove("active")
            }

            let nextSlide = document.querySelector(`[data-hero-slider-slide="${activeIndex}"]`)
            nextSlide.classList.add("active")

            let tl = gsap.timeline({ duration: 0.3, ease: "power2.inOut" })
            tl.set(activeSlide, { zIndex: 0 })
            tl.set(nextSlide, { zIndex: 10, visibility: "visible" }, "<")
            tl.to(nextSlide, { opacity: 1 })
            tl.set(activeSlide, { opacity: 0, visibility: "hidden" })

            if (!videoElem.paused) {
                videoElem.pause()
                videoElem.currentTime = 0
                tl.to(videoCaption, { opacity: 1 })
            }
        })
        heroNextBtn.addEventListener("click", e => {
            let slideCount = heroSlides.length
            if (slideCount <= 1) {
                return
            }
            let activeSlide = document.querySelector(".active[data-hero-slider-slide]")
            let activeIndex = 0

            if (activeSlide) {
                activeIndex = parseInt(activeSlide.dataset.heroSliderSlide) + 1
                if (activeIndex >= slideCount) activeIndex = 0
                activeSlide.classList.remove("active")
            }

            let nextSlide = document.querySelector(`[data-hero-slider-slide="${activeIndex}"]`)
            nextSlide.classList.add("active")

            let tl = gsap.timeline({ duration: 0.3, ease: "power2.inOut" })
            tl.set(activeSlide, { zIndex: 0 })
            tl.set(nextSlide, { zIndex: 10, visibility: "visible" }, "<")
            tl.to(nextSlide, { opacity: 1 })
            tl.set(activeSlide, { opacity: 0, visibility: "hidden" })

            if (!videoElem.paused) {
                videoElem.pause()
                videoElem.currentTime = 0
                tl.to(videoCaption, { opacity: 1 })
            }
        })

        let scrollArrow = document.getElementById("scroll-arrow")

        gsap.to(scrollArrow, { y: "50%", duration: .65, repeat: -1, yoyo: true })

        let mainHeading = document.getElementById("main-heading")
        gsap.fromTo(
            mainHeading,
            {
                y: "-100%",
                autoAlpha: 0,
                duration: 1,
                ease: "power2.inOut",
            }, 
            {
                y: "0%",
                autoAlpha: 1,
            }
        )

        let firstChar = document.querySelector('[data-char-wrapper="0"')
        let obsChar = new IntersectionObserver((ent, obs) => {
            let e = ent[0]
            if (e.isIntersecting) {
                gsap.fromTo(
                    "[data-char-wrapper]",
                    {
                        autoAlpha: 0,
                        y: "50%",
                        ease: "power2.in",
                    },
                    {
                        autoAlpha: 1,
                        y: "0%",
                        stagger: .5,
                        duration: 1
                    }
                )

                obs.unobserve(firstChar)
            }
        })
        obsChar.observe(firstChar)

        const { Map } = await google.maps.importLibrary("maps")
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker")
        let map = new Map(document.getElementById("location-gmap"), {
            center: { lat: 23.184650, lng: -106.332562 },
            zoom: 15,
            mapId: "EX_MAP_ID",
        })
        let tagClassName = "distance-tag bg-indigo-900 rounded py-2 px-4 text-stone-50 text-lg font-semibold -translate-y-4"

        let distanceTagPark = document.createElement("div")
        distanceTagPark.className = tagClassName;
        distanceTagPark.textContent = ">5 min del parque Acuatico"
        let distanceTagStone = document.createElement("div")
        distanceTagStone.className = tagClassName;
        distanceTagStone.textContent = "20 min de la isla de la piedra"

        let landMarker = new AdvancedMarkerElement({
            map,
            position: {lat: 23.184855, lng: -106.332463},
        })
        let stoneMarker = new AdvancedMarkerElement({
            map,
            position: {lat: 23.181855, lng: -106.357746},
            content: distanceTagStone,
        })
        let parkMarker = new AdvancedMarkerElement({
            map,
            position: { lat: 23.1939388, lng: -106.3261381},
            content: distanceTagPark,
        })
    })
</script>
<div class="relative h-dvh pt-16 px-4 z-0 overflow-hidden" id="hero-wrapper">
    <button
        class="absolute flex items-center justify-center top-1/2 -translate-y-1/2 left-2 w-10 h-10 bg-slate-700 bg-opacity-60 rounded-sm z-40"
        id="hero-slider-prev">
        <svg class="w-5 h-5 stroke-stone-50 rotate-180 md:w-6 md:h-6" style="filter: drop-shadow(0px 5px 12px rgb(0,0,0,1));">
            <use href="/static/svg/arrow.svg#arrow"></use>
        </svg>
    </button>
    <button
        class="absolute flex items-center justify-center top-1/2 -translate-y-1/2 right-2 w-10 h-10 bg-slate-700 bg-opacity-60 rounded-sm z-40"
        id="hero-slider-next">
        <svg class="w-5 h-5 stroke-stone-50 md:w-6 md:h-6" style="filter: drop-shadow(0px 5px 12px rgb(0,0,0,1))">
            <use href="/static/svg/arrow.svg#arrow"></use>
        </svg>
    </button>
    <div class="w-full h-full overflow-hidden" id="hero-content">
        <figure class="absolute inset-0 z-10 active" data-hero-slider-slide="0">
            <video 
                width="1920"
                height="1080"
                id="hero-video"
                src="/static/video/mzt.mp4" 
                poster="/static/img/hero.jpg"
                preload="auto"
                playsinline
                muted
                loop
                class="relative object-center object-cover w-full h-full max-h-full z-0">
            </video>
            <figcaption
                class="absolute top-1/2 -translate-y-1/2 left-0 right-0 z-20 text-stone-50 space-y-8" 
                style="text-shadow: 0px 5px 10px rgb(0,0,0,.8)">
                <h1 class="w-fit text-3xl font-semibold uppercase mx-auto md:text-5xl md:text-center lg:text-6xl invisible" style="font-family: 'Crimson Text', serif;" id="main-heading">Lotes en<br class=""> Mazatlán</h1>
                <div class="space-y-2 md:space-y-4 text-center" id="video-caption">
                    <svg class="block mx-auto h-12 w-12 fill-current lg:h-10 lg:w-10" style="filter: drop-shadow(0px 5px 10px rgb(0,0,0,.8))">
                        <use href="/static/svg/play.svg#play"></use>
                    </svg>
                    <span class="block text-xs font-medium uppercase">Reproducir Video</span>
                </div>
            </figcaption>
            <button 
                type="button"
                id="video-play-btn"
                class="absolute inset-0 w-full h-full opacity-0 z-30"></button>
        </figure>
        <figure class="absolute inset-0 w-full h-full opacity-0 invisible" data-hero-slider-slide="1">
            <div class="absolute w-full h-full bg-stone-800 bg-opacity-60 z-10"></div>
            <img class="relative h-full w-full max-h-full object-center object-cover z-0" src="/static/img/gly-5.png" alt="Residencial slider imagen 1">
            <figcaption class="absolute flex flex-col top-1/2 -translate-y-1/2 text-stone-50 left-0 right-0 space-y-4 z-20 lg:space-y-6">
                <h1 class="text-3xl font-semibold uppercase w-[20ch] mx-auto md:text-5xl md:w-[40ch] md:text-center lg:text-6xl" style="font-family: 'Crimson Text', serif;">Lotes residenciales <br class="hidden lg:block"/> en Mazatlán</h1>
                <p class="max-w-[30ch] mx-auto lg:text-lg">
                Lotes desde 96m<sup>2</sup> hasta 132m<sup>2</sup> en una de las zonas más exclusivas
                de la ciudad de Mazatlán.
                </p>
                <a href="#formulario-cita" class="inline-block mx-auto bg-indigo-700 text-stone-50 rounded px-6 py-3">Solicitar cotización</a>
            </figcaption>
        </figure>
    </div>
    <div class="absolute bottom-0 left-0 right-0 z-40">
        <svg class="w-8 h-8 mx-auto mb-1.5 stroke-stone-50 rotate-90" id="scroll-arrow">
            <use href="/static/svg/arrow.svg#arrow"></use>
        </svg>
    </div>
</div>

<section
	class="section grid grid-cols-3 grid-rows-[min-content] gap-y-8 gap-x-16 auto-rows-fr relative z-0 p-12 space-y-6 xl:max-w-screen-lg md:mx-auto overflow-y-hidden">
	<h1
		class="text-3xl font-extrabold uppercase text-center text-indigo-900 col-span-full">
		Un residencial para ti y tu familia
	</h1>
	<div class="col-span-full space-y-2 text-stone-950 lg:col-span-1 invisible" data-char-wrapper="0">
		<div class="mx-auto h-12 w-12">
			<img
				class="w-full h-full"
				src="/static/img/fern.png"
				alt="Fern icon" />
		</div>
		<p class="text-lg text-center font-semibold">Areas Verdes</p>
		<p class="w-[34ch] max-w-full mx-auto">
			Colinas del mar cuenta con más de 20,000m2 de áreas verdes, para
			que tú como propietario de un terreno aquí, puedas disfrutar de
			jardines, amenidades y flora que tendremos disponibles.
		</p>
	</div>
	<div class="col-span-full space-y-2 text-stone-950 lg:col-span-1 invisible" data-char-wrapper="1">
		<div class="mx-auto h-12 w-12">
			<svg class="w-full h-full fill-stone-950">
				<use href="/static/svg/lamppost.svg#lamppost"></use>
			</svg>
		</div>
		<p class="text-lg text-center font-semibold">Servicios</p>
		<p class="w-[34ch] max-w-full mx-auto">
			Cableado subterráneo en su totalidad, pavimento hidráulico,
			tecnología de última generación en alumbrado y equipo de seguridad.
		</p>
	</div>
	<div class="col-span-full space-y-2 text-stone-950 lg:col-span-1 invisible" data-char-wrapper="2">
		<div class="mx-auto h-12 w-12">
			<svg class="w-full h-full fill-stone-950">
				<use href="/static/svg/security.svg#security"></use>
			</svg>
		</div>
		<p class="text-lg text-center font-semibold">Seguridad</p>
		<p class="w-[34ch] max-w-full mx-auto">
			Porque tu tranquilidad es prioridad para nosotros, contaremos con
			circuito cerrado en todo el residencial, una barda perimetral de 3
			metros con cerca eléctrica y un equipo de seguridad en la caseta con
			accesos automatizados.
		</p>
	</div>
</section>
<!-- Availability Plan -->
{{template "plan"}}

<section class="relative z-0 p-10 space-y-6">
	<!-- TODO: Picture -->
	<h1 class="text-center text-3xl text-indigo-900 font-extrabold uppercase">
		Seguridad para tu inversión
	</h1>
	<p class="max-w-[80ch] mx-auto">
		A ti que buscas no solo un residencial para vivir sino una inversión
		segura, Colinas del Mar es tu opción más rentable del mercado por su
		valor costo/beneficio. Gracias a la gran ubicación con la que cuenta,
		con una conectividad inigualable, fluidez vial, zona segura y una serie
		de amenidades de lujo a las que no puedes resistirte.
	</p>
	<div class="shadow-lg shadow-stone-100 space-y-8 p-4">
		<div class="space-y-4 px-5">
			<h3 class="text-2xl text-center font-black uppercase">
				Desde 200 M<sup>2</sup>
			</h3>
			<p class="max-w-[80ch] text-center mx-auto">
                Nuestros lotes promedio son de 96m<sup>2</sup>, sin embargo, contamos con
				lotes hasta de 200m<sup>2</sup> para desarrollar lo que tengas en mente y
				el que espacio se adapte a tu proyecto.
			</p>
		</div>
		<div class="space-y-4 px-5">
			<h3 class="text-2xl text-center font-black uppercase">
				Avance de Obra
			</h3>
			<p class="max-w-[80ch] text-center mx-auto">
				Entendemos lo importante que es para ti visualizar
				constantemente como va la obra, de tal modo
				que nos comprometemos contigo para irte dando tranquilidad y
				confianza.
			</p>
		</div>
	</div>
</section>
<section
	class="section section-img-bg relative z-0 p-10 py-20 space-y-6 text-stone-50 lg:space-y-10"
    style="background: rgb(2, 0, 36); background: linear-gradient(90deg, rgb(2,0,36,0.65) 0%, rgb(2,0,36,0.65) 100%), url('/static/img/gly-4.png') no-repeat; background-size: cover; background-position: center;"
	data-bg-src="">
	<h1 class="relative text-3xl text-center font-extrabold uppercase z-0">
		Perfecto para ti y tu familia
	</h1>
	<p class="max-w-[80ch] text-center font-semibold mx-auto">
		DISFRUTA día a dia con tu FAMILIA y AMIGOS de amenidades que te haran
		sentir de VACACIONES
	</p>
	<div class="w-3/4 mx-auto max-w-96">
		<a
			href="#formulario-cita"
			class="block mx-auto bg-stone-50 text-blue-700 text-center rounded px-6 py-3"
			>Solicitar cotización</a
		>
	</div>
</section>
{{template "gallery"}}
{{template "amenities"}}

<section class="relative z-0" id="seccion-ubicacion">
    <div class="absolute -top-8 right-8 z-10 bg-indigo-950 text-stone-50 py-8 px-10 rounded">
        <h1 class="text-center text-3xl font-extrabold px-10 uppercase">
            Ubicados<br>
            A 30 Minutos de la Playa
        </h1>
        <div class="py-2"></div>
        <p class="w-[52ch] text-center font-light mx-auto">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum dicta voluptatem quia voluptate assumenda.
        </p>
    </div>
    <div id="location-gmap" class="h-[70vh] w-screen"></div>
    <!-- <gmp-map center="23.1879188,-106.3299396" zoom="15" map-id="DEMO_MAP_ID" style="height: 70vh;width: 100vw;" id="location-gmap">
        <gmp-advanced-marker
            position="23.184650,-106.332562"
            title="Colinas del Mar, Mazatlán, Sin."
            ></gmp-advanced-marker>
        <gmp-advanced-marker
            position="23.1939388,-106.3261381"
            title="Parque Acuatico Alfiland Park"
            ></gmp-advanced-marker>
    </gmp-map>-->
</section>

<section class="relative px-4 pt-8 pb-24 z-0 space-y-8"/>
	<div class="absolute inset-0 -z-10">
		<img
			class="absolute h-full w-auto xl:h-full xl:w-full object-center object-cover z-0"
			src="/static/img/office-bg.jpg"
			alt="Fondo oficinas" />
		<div class="absolute inset-0 bg-stone-900 bg-opacity-60"></div>
	</div>
	<h1 class="text-center text-3xl text-stone-50 font-extrabold uppercase" id="offc-heading">
		Oficinas
	</h1>
    <div class="flex w-fit mx-auto">
        <div class="max-w-[50%] bg-stone-50 space-y-4 text-stone-50 p-4 bg-opacity-10 backdrop-blur rounded-s my-auto">
            <div class="flex items-center gap-6 pl-6 pr-4">
                <div class="">
                    <svg
                        class="w-6 h-auto"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 36 46">
                        <path
                        id="location-svg-path"
                        d="M24,47S6,37.583,6,19a18,18,0,0,1,36,0C42,37.583,24,47,24,47ZM24,3A16.019,16.019,0,0,0,8,19C8,33.758,20.462,42.5,24,44.687,27.547,42.51,40,33.805,40,19A16.019,16.019,0,0,0,24,3Zm0,25a9,9,0,1,1,9-9A9,9,0,0,1,24,28Zm0-16a7,7,0,1,0,7,7A7,7,0,0,0,24,12Z"
                        transform="translate(-6 -1)"
                        fill="#fff"
                        fill-rule="evenodd"></path>
                    </svg>
                </div>
                <p class="">
                De la Amistad 1174-A, Sembradores de la Amistad, 82146 Mazatlán, Sin.
                </p>
            </div>
            <div class="flex items-center gap-6 pl-6 pr-4">
                <div class="">
                    <svg
                        class="w-6 h-auto"
                        xmlns="http://www.w3.org/2000/svg"
                        id="svg-telephone"
                        data-name="svg-telephone"
                        viewBox="0 0 44 44">
                        <path
                        id="tel-path"
                        d="M60.1,62.3h0A26.133,26.133,0,0,1,34,36.2a9.947,9.947,0,0,1,8.663-9.844,2.554,2.554,0,0,1,2.686,1.552l3.69,8.611a2.567,2.567,0,0,1-.2,2.408l-3.077,4.68a.367.367,0,0,0-.019.352A14.317,14.317,0,0,0,52.4,50.592c.225.032.3.011.357-.03l4.6-3.073a2.583,2.583,0,0,1,2.452-.222l8.6,3.692a2.557,2.557,0,0,1,1.541,2.68A9.948,9.948,0,0,1,60.1,62.3ZM42.991,28.541A7.743,7.743,0,0,0,36.206,36.2,23.924,23.924,0,0,0,60.1,60.1a7.738,7.738,0,0,0,7.656-6.739.35.35,0,0,0-.212-.367l-8.614-3.7c-.217-.032-.285-.011-.343.028l-4.6,3.074a2.56,2.56,0,0,1-1.436.438h0a2.59,2.59,0,0,1-1.1-.248,16.54,16.54,0,0,1-7.69-7.667A2.592,2.592,0,0,1,43.92,42.4l3.074-4.676a.362.362,0,0,0,.02-.333l-3.7-8.626A.352.352,0,0,0,42.991,28.541Z"
                        transform="translate(-29.314 -22.706)"
                        fill="#fff"></path>
                    </svg>
                </div>
                <p class="">669-112-9742</p>
            </div>
            <div class="flex items-center gap-6 pl-6 pr-4">
                <div class="">
                    <svg class="w-6 h-6 fill-current">
                        <use href="/static/svg/envelope.svg#envelope"></use>
                    </svg>
                </div>
                <p class="">colinas@sibradgo.com.mx</p>
            </div>
            <div class="flex items-center gap-6 pl-6 pr-4">
                <div class="">
                    <svg class="w-6 h-6 fill-current">
                        <use href="/static/svg/clock.svg#clock"></use>
                    </svg>
                </div>
                <p class="flex flex-col">Horario de 9am a 2pm y de 4pm a 7pm.</p>
            </div>
            <div class="space-y-2 px-4">
                <a
                    href="#formulario-contacto"
                    class="block mx-auto bg-stone-50 text-blue-700 text-center rounded px-6 py-3"
                    >Contactanos</a
                >
            </div>
        </div>
        <div
            class="max-w-[50%] bg-indigo-900 rounded space-y-4 px-4 py-6 text-stone-50 md:max-w-lg md:-translate-x-0.5"
            id="offc-box">
            <div class="flex items-center gap-6 pl-6 pr-4">
                <div class="">
                    <svg
                        class="w-6 h-auto"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 36 46">
                        <path
                        id="location-svg-path"
                        d="M24,47S6,37.583,6,19a18,18,0,0,1,36,0C42,37.583,24,47,24,47ZM24,3A16.019,16.019,0,0,0,8,19C8,33.758,20.462,42.5,24,44.687,27.547,42.51,40,33.805,40,19A16.019,16.019,0,0,0,24,3Zm0,25a9,9,0,1,1,9-9A9,9,0,0,1,24,28Zm0-16a7,7,0,1,0,7,7A7,7,0,0,0,24,12Z"
                        transform="translate(-6 -1)"
                        fill="#fff"
                        fill-rule="evenodd"></path>
                    </svg>
                </div>
                <p class="">
                Gral. Anaya 101, Juan de la Barrera, 34150 Durango, Dgo.
                </p>
            </div>
            <div class="flex items-center gap-6 pl-6 pr-4">
                <div class="">
                    <svg
                        class="w-6 h-auto"
                        xmlns="http://www.w3.org/2000/svg"
                        id="svg-telephone"
                        data-name="svg-telephone"
                        viewBox="0 0 44 44">
                        <path
                        id="tel-path"
                        d="M60.1,62.3h0A26.133,26.133,0,0,1,34,36.2a9.947,9.947,0,0,1,8.663-9.844,2.554,2.554,0,0,1,2.686,1.552l3.69,8.611a2.567,2.567,0,0,1-.2,2.408l-3.077,4.68a.367.367,0,0,0-.019.352A14.317,14.317,0,0,0,52.4,50.592c.225.032.3.011.357-.03l4.6-3.073a2.583,2.583,0,0,1,2.452-.222l8.6,3.692a2.557,2.557,0,0,1,1.541,2.68A9.948,9.948,0,0,1,60.1,62.3ZM42.991,28.541A7.743,7.743,0,0,0,36.206,36.2,23.924,23.924,0,0,0,60.1,60.1a7.738,7.738,0,0,0,7.656-6.739.35.35,0,0,0-.212-.367l-8.614-3.7c-.217-.032-.285-.011-.343.028l-4.6,3.074a2.56,2.56,0,0,1-1.436.438h0a2.59,2.59,0,0,1-1.1-.248,16.54,16.54,0,0,1-7.69-7.667A2.592,2.592,0,0,1,43.92,42.4l3.074-4.676a.362.362,0,0,0,.02-.333l-3.7-8.626A.352.352,0,0,0,42.991,28.541Z"
                        transform="translate(-29.314 -22.706)"
                        fill="#fff"></path>
                    </svg>
                </div>
                <p class="">618-194-1145</p>
            </div>
            <div class="flex items-center gap-6 pl-6 pr-4">
                <div class="">
                    <svg class="w-6 h-6 fill-current">
                        <use href="/static/svg/envelope.svg#envelope"></use>
                    </svg>
                </div>
                <p class="">colinas@sibradgo.com.mx</p>
            </div>
            <div class="flex items-center gap-6 pl-6 pr-4">
                <div class="">
                    <svg class="w-6 h-6 fill-current">
                        <use href="/static/svg/clock.svg#clock"></use>
                    </svg>
                </div>
                <p class="flex flex-col">Horario de 9am a 2pm y de 4pm a 7pm.</p>
            </div>
            <div class="space-y-2 px-4">
                <a
                    href="#formulario-contacto"
                    class="block mx-auto bg-stone-50 text-blue-700 text-center rounded px-6 py-3"
                    >Contactanos</a
                >
            </div>
        </div>
    </div>
</section>
{{end}}
