{{define "plan"}}
<script>
    const LOT_DATA = {{.Lots}}
    document.addEventListener("DOMContentLoaded", () => {
        let planObject = document.getElementById("plan-object")
        let zoomInBtn = document.getElementById("plan-zoom-in")
        let zoomOutBtn = document.getElementById("plan-zoom-out")
        let pz = Panzoom(planObject, {
            maxScale: 6,
            minScale: 1,
            animate: true,
        })
        planObject.addEventListener("load", () => {
            let planDoc = planObject.contentDocument
            let lotWrapper = planDoc.getElementById("mzt-plan-svg")
            let lots = planDoc.querySelectorAll("[data-lot-svg]")
            let planRect = planObject.getClientRects()[0]
            let planCenter = [
                planRect.width * .5,
                planRect.height * .5,
            ]

            for (let lot of lots) {
                let { mz, lt } = parseLotId(lot.id)
                if (!lt || !mz) {
                    continue
                }

                let dataId = "Lt-"+lt+"_Mz-"+mz
                let lotData = LOT_DATA[dataId]

                if (!lotData || !lotData.available) {
                    lot.style.fill = "rgb(190,37,37)"
                    lot.style.stroke = "rgb(190,37,37)"
                }

                lot.addEventListener("mouseover", e => {
                    // New svgs separated fill and stroke into different paths
                    // irregularly
                    lot.parentElement.appendChild(lot)

                    let activeLot = planDoc.querySelector(".active-lot")
                    if (activeLot) {
                        activeLot.parentElement.appendChild(activeLot)
                    }
                })
                lot.addEventListener("click", async e => {
                    e.stopPropagation()
                    resetActiveTab()

                    let contentHeight = document.getElementById("plan-popup-content").scrollHeight
                    let contentWidth = document.getElementById("plan-popup-content").scrollWidth
                    let tl = gsap.timeline({duration:0.4,ease:"power2.in"})
                    tl.set("#plan-popup-spinner", { height: contentHeight+"px", width: contentWidth+"px" })
                    tl.to("#plan-popup", { autoAlpha: 1, duration: 0.1 })
                    tl.from("#plan-popup-spinner", { autoAlpha: 0, scale: 0,  borderRadius: "9999px" })
                    
                    document.getElementById("plan-popup-pill").style.left = "0px"
                    let detailPillBtn = document.querySelector('[data-popup-tab-btn="detail"]')
                    document.getElementById("plan-popup-pill").style.width = detailPillBtn.scrollWidth+"px"

                    let [lt, mz] = lot.id.split("_")
                    let ltNum = lt.split("-")[1]
                    let mzNum = mz.split("-")[1]

                    // TODO: Fetch lot data
                    let res = await fetch("/api/lots/"+ltNum+"/"+mzNum)

                    if (res.ok) {
                        document.getElementById("plan-popup-content").outerHTML = await res.text()
                        htmx.process(document.getElementById("plan-popup-content"))
                        let popupContent = document.getElementById("plan-popup-content")
                        // Need to re-animate new content
                        // Give it time for the element height to be updated
                        gsap.delayedCall(0.1, () => {
                            contentHeight = popupContent.scrollHeight
                            gsap.to(popupContent, { height: contentHeight+"px" })
                        })
                        document.getElementById("plan-popup-pill").style.left = "0px"
                        document.getElementById("plan-popup-pill").style.width = detailPillBtn.scrollWidth+"px"

                        let planImg = document.getElementById("plan-popup-img")
                        planImg.src = "/static/img/land-available.webp"

                        initializePlanPopup()
                    } else {
                        let errorNotice = document.getElementById("plan-popup-error")
                        gsap.to(errorNotice, { autoAlpha: 1, height: errorNotice.scrollHeight+"px" }, "<.2")

                    }

                    tl.to("#plan-popup-spinner", { autoAlpha: 0, scale: 0, duration: .5 })
                })

            }
            planObject.addEventListener("panzoomreset", () => {
                for (lot of lots) {
                    lot.classList.remove("active-lot")
                    lot.style.display = "block"
                }
                planDoc.getElementById("plan-sat").style.opacity = 1
            })

            // Resets active tab to 'detail'
            function resetActiveTab() {
                let currentTabElem = document.querySelector("[data-popup-tab-active]")
                let currentPillBtn = document.querySelector("[data-popup-tab-btn-active]")
                let detailTabElem = document.querySelector('[data-popup-tab="detail"]')
                let detailPillBtn = document.querySelector('[data-popup-tab-btn="detail"]')

                if (currentTabElem !== detailTabElem) {
                    currentTabElem.style.padding = "0px"
                    currentTabElem.removeAttribute("data-popup-tab-active")
                    currentPillBtn.classList.remove("text-stone-50", "font-semibold")
                    currentPillBtn.removeAttribute("data-popup-tab-btn-active")
                    currentTabElem.style.height = "0px"
                    currentTabElem.style.visibility = "hidden"
                    currentTabElem.style.opacity = 0

                    detailTabElem.style.padding = ""
                    detailTabElem.setAttribute("data-popup-tab-active", true)
                    detailPillBtn.classList.add("text-stone-50", "font-semibold")
                    detailPillBtn.setAttribute("data-popup-tab-btn-active", true)
                    detailTabElem.style.height = ""
                    detailTabElem.style.visibility = "visible"
                    detailTabElem.style.opacity = 1
                }
            }
        })
        
        zoomInBtn.addEventListener("click", () => {
            pz.zoomIn()
        })
        zoomOutBtn.addEventListener("click", () => {
            pz.zoomOut()
            if (pz.getScale() === 1) {
                pz.reset()
            }
        })

        let planPopup = document.getElementById("plan-popup")
        planPopup.addEventListener("click", e => {
            if (e.target !== planPopup) {
                return
            }

            gsap.to("#plan-popup-content", { height: "0px" })
            gsap.to(planPopup, { autoAlpha: 0 })
        })
        let planPopupErrorClose = document.getElementById("plan-popup-error-close")
        planPopupErrorClose.addEventListener("click", () => {
            gsap.to("#plan-popup-error", { autoAlpha: 0, height: "0px" })
            gsap.to(planPopup, { autoAlpha: 0 })
        })

        function parseLotId(id) {
            let lotData = {
                mz: "",
                lt: "",
            }

            let [ltStr, mzStr] = id.split("_")
            if (ltStr) {
                lotData.lt = ltStr.split("-")[1]
            }
            if (mzStr) {
                lotData.mz = mzStr.split("-")[1]
            }

            return lotData
        }

        // Popup
        function initializePlanPopup() {
            let planPopupContent = document.getElementById("plan-popup-content")
            let closePopup = document.getElementById("plan-popup-close-btn")

            closePopup.addEventListener("click", () => {
                let tl = gsap.timeline({duration:0.4,ease:"power2.in"})
                tl.to(planPopupContent, {height:"0px"})
                tl.to(planPopup, {autoAlpha:0}, "<0.2")
                // TODO: Unhide loading spinner
                tl.to("#plan-popup-spinner", { autoAlpha: 1, scale: 1, borderRadius: "" })
            })

            // Popup Tabs
            let contactNowBtn = document.getElementById("popup-contact-now-btn")
            let calcCreditBtn = document.getElementById("popup-calc-credit-btn")
            let bookPriceBtn = document.getElementById("credit-book-price-btn")
            let seeMoreBtn = document.getElementById("popup-see-more-btn")
            let popupPill = document.getElementById("plan-popup-pill")
            let popupTabBtns = document.querySelectorAll("[data-popup-tab-btn]")

            // Force pill to be btn sized
            popupPill.style.width = popupTabBtns[0].clientWidth + "px"
            // Force save initial scrollHeight for tabs
            gsap.delayedCall(0.1, () => {
                let popupTabs = document.querySelectorAll("[data-popup-tab]")
                for (let tab of popupTabs) {
                    tab.dataset.scrollHeight = tab.scrollHeight
                    if (!tab.hasAttribute("[data-popup-tab-active]")) {
                        tab.style.padding = "0px"
                    }
                }
            })

            contactNowBtn.addEventListener("click", handleTabChange)
            calcCreditBtn.addEventListener("click", handleTabChange)
            bookPriceBtn.addEventListener("click", handleTabChange)

            for (let tabBtn of popupTabBtns) {
                tabBtn.addEventListener("click", handleTabChange)
            }

            function handleTabChange(e) {
                e.preventDefault()
                // Reset contentHeight so animations work
                planPopupContent.style.height = ""

                let targetTabId = e.target.dataset.popupTabBtn || e.target.dataset.popupTabCta
                let targetTabElem = document.querySelector('[data-popup-tab="'+targetTabId+'"]')
                let targetPillBtn = document.querySelector('[data-popup-tab-btn="'+targetTabId+'"]')
                let currentTabElem = document.querySelector('[data-popup-tab-active]')
                let currentPillBtn = document.querySelector('[data-popup-tab-btn-active]')

                if (!targetTabElem) {
                    // TODO: Change tab to detail | display some error
                    return
                }

                let tl = gsap.timeline({ ease: "power2.in" })
                if (currentTabElem) {
                    tl.to(currentTabElem, { height: "0px", autoAlpha: 0, duration: 0.4 })
                    currentTabElem.style.padding = "0px"
                    currentTabElem.removeAttribute("data-popup-tab-active")
                    currentPillBtn.classList.remove("text-stone-50", "font-semibold")
                    currentPillBtn.removeAttribute("data-popup-tab-btn-active")
                }

                targetTabElem.style.padding = ""
                targetPillBtn.classList.add("text-stone-50", "font-semibold")
                tl.to(targetTabElem, { 
                    height: targetTabElem.dataset.scrollHeight+"px",
                    autoAlpha: 1,
                    duration: 0.4
                }, "<0.1")
                tl.to(popupPill, {
                    left: targetPillBtn.offsetLeft+"px", 
                    width: targetPillBtn.scrollWidth+"px"
                },"<")

                targetTabElem.dataset.popupTabActive = true
                targetPillBtn.dataset.popupTabBtnActive = true
            }

            seeMoreBtn.addEventListener("click", e => {
                gsap.to("#plan-popup-content", { autoAlpha: 0, height: "0px" })
                gsap.to("#plan-popup", { autoAlpha: 0 })
            })

            // Credit Calc
            const priceFormatter = new Intl.NumberFormat("es-MX", {style:"currency",currency:"MXN",minimumFractionDigits:2,maximumFractionDigits:2})
            const DEFAULT_PRICE = 192_000
            const PRICE_BY_TIME = {
                "3": 192_000,
                "6": 192_000,
                "12": 192_000,
                "18": 192_000,
                "24": 192_000,
                "32": 192_000,
                "48": 192_000,
            }
            const MIN_CRED_DEPOSIT = 24_000
            let creditPriceElem = document.getElementById("credit-current-total")
            let creditDepositInp = document.getElementById("credit-deposit")
            let creditTimeSelect = document.getElementById("credit-time")
            let creditInterestElem = document.getElementById("credit-interest")
            let creditInstallmentElem = document.getElementById("credit-installment")

            let currentCreditTime = Number(creditTimeSelect.value)
            let currentTotal = PRICE_BY_TIME[currentCreditTime] || DEFAULT_PRICE
            creditPriceElem.dataset.creditTotal = currentTotal

            let remainingBalance = currentTotal - Number(creditDepositInp.value)
            creditInstallmentElem.dataset.creditInstallment = Math.ceil(remainingBalance/currentCreditTime)

            renderCreditChange()

            creditDepositInp.addEventListener("change", e => {
                let val = Number(e.target.value)
                if (isNaN(val) || val < MIN_CRED_DEPOSIT) {
                    creditDepositInp.value = MIN_CRED_DEPOSIT
                    alert("El anticipo minimo es de $24,000.00 MXN")
                    return
                }

                let credTime = creditTimeSelect.value
                let credTotal = PRICE_BY_TIME[credTime] || DEFAULT_PRICE
                creditInstallmentElem.dataset.creditInstallment = calcCreditInstallment(credTotal, val, credTime)
                renderCreditChange()
            })
            creditTimeSelect.addEventListener("change", e => {
                let val = e.target.value
                let credTotal = PRICE_BY_TIME[val] || DEFAULT_PRICE
                let credDeposit = creditDepositInp.value
                creditPriceElem.dataset.creditTotal = credTotal
                creditInstallmentElem.dataset.creditInstallment = calcCreditInstallment(credTotal, credDeposit, val)
                renderCreditChange()
            })

            function calcCreditInstallment(creditTotal, deposit, creditTime) {
                let remainingBalance = creditTotal - deposit
                if (remainingBalance < 0) {
                    return 0
                }
                return Math.ceil(remainingBalance/creditTime)
            }
            function renderCreditChange() {
                creditPriceElem.textContent = priceFormatter.format(Number(creditPriceElem.dataset.creditTotal))
                creditInstallmentElem.textContent = priceFormatter.format(Number(creditInstallmentElem.dataset.creditInstallment))
            }

            // Contact Form
            let contactLotNumInp = document.getElementById("popup-contact-lot-num")
            let contactLotTypeInp = document.getElementById("popup-contact-lot-type")
            let contactMzInp = document.getElementById("popup-contact-mz")
            let contactCredTimeInp = document.getElementById("popup-contact-cred-time")
            let contactCredDepositInp = document.getElementById("popup-contact-cred-deposit")
            let contactPaymentTypeInp = document.getElementById("popup-payment-type")

            contactPaymentTypeInp.addEventListener("change", e => {
                let payType = e.target.value

                if (payType !== "credit") {
                    contactCredTimeInp.value = ""
                    contactCredDepositInp.value = ""
                    return
                }

                contactCredTimeInp.value = creditTimeSelect.value
                contactCredDepositInp.value = creditDepositInp.value
            })
        }
    })
</script>
<section class="z-0 flex flex-col max-w-full  overflow-hidden" id="seccion-plano">
    <h1 class="text-center text-3xl text-indigo-900 font-extrabold uppercase mb-4 lg:mb-8">Plano de disponibilidad</h1>
    <!-- Popup -->
    <div 
        class="fixed flex items-center inset-0 w-full z-40 bg-stone-900 bg-opacity-75 px-4 py-6 invisible" 
        id="plan-popup">
        <!-- Spinner -->
        <div class="flex flex-col items-center justify-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 scale-100 z-20 bg-stone-50 rounded invisible" id="plan-popup-spinner">
            <img src="/static/img/loading.webp" alt="Icono animado de carga de información del lote" class="w-40 h-40 object-center object-cover">
            <p class="text-xl text-stone-500 font-semibold">Cargando...</p>
        </div>
        <!-- Error -->
        <div 
            class="absolute flex flex-col items-center justify-center gap-4 w-96 max-w-[80%] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-stone-50 rounded invisible m-auto px-8 py-4"
            id="plan-popup-error">
            <svg class="w-32 h-32">
                <use href="/static/svg/fail.svg#fail"></use>
            </svg>
            <p class="text-stone-700 font-semibold text-xl">Ocurrio un error al recuperar el lote</p>
            <button 
                class="w-full bg-red-600 py-2 text-stone-50 font-medium rounded"
                id="plan-popup-error-close">Cerrar</button>
        </div>
        {{template "popup-content" .}}
    </div>
    <div class="w-full flex-auto px-4">
        <!-- Plan -->
        <div class="relative w-full max-w-screen-xl mx-auto z-0 rounded overflow-hidden">
            <object
                id="plan-object"
                data="/static/svg/plan-new.svg"
                type="image/svg+xml"
                class="w-full max-h-[80vh] object-center">
            </object>
            <div class="absolute bottom-2 right-2">
                <button class="h-8 w-8 flex items-center justify-center rounded-t bg-stone-200" id="plan-zoom-in">
                    <svg class="w-4 h-4 fill-stone-400 rotate-45">
                        <use href="/static/svg/times.svg#times"></use>
                    </svg>
                </button>
                <button class="h-8 w-8 flex items-center justify-center rounded-b bg-stone-200" id="plan-zoom-out">
                    <svg class="w-8 h-8 stroke-stone-400">
                        <use href="/static/svg/minus.svg#minus"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</section>
{{end}}

{{define "popup-content"}}
{{with .Lot}}
<div 
    class="flex flex-col w-full xl:max-w-screen-lg mx-auto bg-stone-50 rounded overflow-hidden z-10"
    style="height: 0px"
    id="plan-popup-content">
    <!-- Header -->
    <div class="flex justify-between gap-2 shrink grow-0 border-b-2 border-stone-200">
        <div class="overflow-x-auto p-2">
            <div class="relative flex gap-2 text-sm z-0 basis-full grow text-stone-700 ">
                <p 
                class="absolute top-0 left-0 rounded px-2 py-1.5 bg-slate-700 text-transparent outline outline-2 outline-indigo-600 uppercase -z-10"
                id="plan-popup-pill">&nbsp;</p>
                <button
                    class="text-stone-50 px-2 py-1.5 font-semibold rounded uppercase"
                    data-popup-tab-btn="detail"
                    data-popup-tab-btn-active>detalles</button>
                <button 
                    class="px-2 py-1.5 rounded uppercase"
                    data-popup-tab-btn="calc">calculadora</button>
                <button 
                    class="px-2 py-1.5 rounded uppercase"
                    data-popup-tab-btn="form">contacto</button>
            </div>
        </div>
        <div class="w-10 flex items-center justify-center grow-0 shrink">
            <button id="plan-popup-close-btn">
                <svg class="h-4 w-4 fill-current">
                    <use href="/static/svg/times.svg#times"></use>
                </svg>
            </button>
        </div>
    </div>

    <!-- Body -->
    <div class="relative flex-1">
        <div
            class="flex flex-col xl:flex-row xl:gap-4 overflow-hidden"
            data-popup-tab="detail"
            data-popup-tab-active>
            <div class="relative basis-1/2 shrink grow-0 xl:basis-1/2 xl:shrink xl:grow z-0">
                <img
                src="/static/img/land-thumb.jpg"
                alt="Representación artistica del terreno que se esta promocionando"
                class="relative w-full h-full object-center object-cover -z-10"
                data-popup-img-availability="available"
                id="plan-popup-img">
            </div>
            <div class="relative basis-1/2 shrink grow xl:h-auto xl:basis-1/3 xl:mx-auto p-2 overflow-y-auto overflow-x-hidden bg-stone-50 z-10">
                <p class="text-3xl xl:text-5xl font-bold text-indigo-900">{{$.PriceCash}}</p>
                <div class="py-0.5"></div>
                <p class="text-lg xl:text-xl text-stone-700 font-semibold">Lote {{.Lt}} Manzana {{.Mz}}</p>
                <p class="text-sm {{if .Available}}text-emerald-500{{else}}text-red-500{{end}} font-medium xl:text-base">{{if .Available}}Disponible{{else}}No disponible{{end}}</p>
                <div class="py-2"></div>
                <ul class="flex justify-between py-1">
                    <li class="xl:text-lg">
                        <!-- <svg class="w-6 h-6 fill-current">
                            <use href="/static/svg/square.svg#square"></use>
                            </svg> -->
                            <p class="font-bold">Area:</p>
                            <p class="text-stone-600">{{.Area}}m<sup>2</sup></p>
                    </li>
                    <li class="xl:text-lg max-w-[40%]">
                        <p class="font-bold">Dimensiones:</p>
                        <p class="text-stone-600">{{.Measures}}m</p>
                    </li>
                    <li class="xl:text-lg">
                        <div class="font-bold">Precio/m<sup>2</sup></div>
                        <p class="text-stone-600">{{$.PriceMtCash}}/m<sup>2</sup></p>
                    </li>
                </ul>
                <div class="py-4"></div>
                <div class="relative flex flex-col space-y-2 bottom-0" id="popup-cta-wrapper">
                    <button 
                        class="bg-orange-500 py-2 text-stone-50 font-medium rounded{{if not .Available}} hidden{{end}}"
                        id="popup-contact-now-btn"
                        data-popup-tab-cta="form"
                        {{if not .Available}}disabled{{end}}>Contactácnos ahora</button>
                    <button
                        class="bg-indigo-900 py-2 text-stone-50 font-medium rounded{{if not .Available}} hidden{{end}}"
                        id="popup-calc-credit-btn" 
                        data-popup-tab-cta="calc"
                        {{if not .Available}}disabled{{end}}>Cotiza tu Financiamiento</button>
                    <button
                        class="bg-indigo-900 py-2 text-stone-50 font-medium rounded{{if .Available}} hidden{{end}}"
                        id="popup-see-more-btn"
                        {{if .Available}}disabled{{end}}>Ver lotes disponibles</button>
                </div>
            </div>
        </div>

        <div
            class="p-2 overflow-hidden invisible h-0"
            data-popup-tab="calc">
            <h2 class="text-xl text-stone-800 font-semibold">Calculadora de Financiamiento</h2>
            <p class="text-stone-400 font-medium">Utiliza la calculadora para elegir el Financiamiento más adecuado para ti.</p>
            <div class="py-1"></div>
            <div class="flex gap-2">
                <div class="basis-1/2 flex-1">
                    <p class="text-sm text-stone-900 font-semibold">Precio<br>de contado</p>
                    <p class="text-2xl font-bold text-indigo-900 mt-auto">{{$.PriceCash}}</p>
                </div>
                <div class="basis-1/2 flex-1">
                    <p class="text-sm text-stone-900 font-semibold">Precio <br>Financiado</p>
                    <p class="text-2xl font-bold text-indigo-900 mt-auto" id="credit-current-total" data-credit-total="{{.PriceCredit}}">{{$.PriceCredit}}</p>
                </div>
            </div>
            <div class="py-1"></div>
            <div class="flex gap-2">
                <div class="flex-1 basis-1/2 space-y-1">
                    <p class="text-sm text-stone-900 font-semibold">Enganche</p>
                    <input 
                    class="w-full border border-stone-300 rounded px-2 py-1 outline-indigo-900"
                    type="number"
                    name="deposit"
                    id="credit-deposit"
                    min="24000"
                    placeholder="24000"
                    value="24000"
                    data-credit-min-deposit="0">
                </div>
                <div class="flex-1 basis-1/2 space-y-1">
                    <p class="text-sm text-stone-900 font-semibold">Plazo</p>
                    <select 
                        class="w-full border border-stone-300 rounded px-2 py-1 outline-indigo-900"
                        name="time" 
                        id="credit-time">
                        <option value="3">3 meses</option>
                        <option value="6">6 meses</option>
                        <option value="12">12 meses</option>
                        <option value="18">18 meses</option>
                        <option value="24">24 meses</option>
                        <option value="32">32 meses</option>
                        <option value="48" selected>48 meses</option>
                    </select>
                </div>
            </div>
            <div class="py-1"></div>
            <div class="flex gap-2">
                <div class="grow-0 basis-1/2 pl-1">
                    <p class="text-stone-900 font-bold">Precio/m<sup>2</sup></p>
                    <p class="text-2xl font-bold text-indigo-900" id="credit-sqmt-price">$2,000.00</p>
                </div>
                <div class="grow-0 basis-1/2 pl-1">
                    <p class="text-stone-900 font-bold">Mensualidad</p>
                    <p class="text-2xl font-bold text-indigo-900" id="credit-installment" data-credit-installment="2_587">$2,587.00</p>
                </div>
            </div> 
            <div class="py-2"></div>
            <div class="flex">
                <button 
                    type="button"
                    role="button"
                    class="bg-orange-500 text-stone-50 font-medium w-full py-2 rounded"
                    id="credit-book-price-btn"
                    data-popup-tab-cta="form">Reservar precio</button>
            </div>
        </div>

        {{template "popup-form" .}}
    </div>
</div>
{{else}}
<div 
    class="flex flex-col w-full xl:max-w-screen-lg mx-auto bg-stone-50 rounded overflow-hidden"
    style="height: 0px"
    id="plan-popup-content">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <h2 class="text-2xl font-bold">Ocurrio un error al recuperar el lote</h2>
    </div>
</div>
{{end}}
{{end}}

{{define "popup-form"}}
<form
    class="relative p-2 overflow-hidden invisible h-0"
    data-popup-tab="form"
    hx-post="/api/contact"
    hx-swap="outerHTML">
    <input type="hidden" name="lt" id="popup-contact-lot-num" value="{{.Lt}}">
    <input type="hidden" name="mz" id="popup-contact-mz" value="{{.Mz}}">
    {{/* <input type="hidden" name="lotType" id="popup-contact-lot-type" value="{{.Type}}"> */}}
    <input type="hidden" name="credDeposit" id="popup-contact-cred-deposit">
    <input type="hidden" name="credTime" id="popup-contact-cred-time">
    <div class="flex flex-col items-center justify-center absolute inset-0 bg-stone-700 bg-opacity-70 invisible">
        <img
        class="w-24 h-24 scale-100"
        width="200"
        height="200"
        src="/static/img/loading.webp"
        alt="Animacion de carga de formulario">
        <p class="text-lg text-stone-50 font-semibold">Cargando...</p>
    </div>

    <h2 class="text-xl text-stone-800 font-semibold">Contacto</h2>
    <p class="text-stone-400 font-medium">Contáctanos y te responderemos a la brevedad con la información del lote que te interesa</p>
    <div class="py-1"></div>
    <div class="flex gap-2">
        <div class="flex-1 basis-1/2">
            <label for="popup-contact-name" class="block text-stone-900 font-medium">Nombre</label>
            <div class="py-px"></div>
            <input 
            class="w-full border border-stone-300 rounded px-2 py-1 outline-indigo-900"
            type="text"
            name="name"
            id="popup-contact-name"
            placeholder="Juan Perez"
            required>
        </div>
    </div>
    <div class="py-1"></div>
    <div class="flex gap-2">
        <div class="flex-1 basis-1/2">
            <label for="popup-contact-name" class="block text-stone-900 font-medium">Teléfono</label>
            <div class="py-px"></div>
            <input 
            class="w-full border border-stone-300 rounded px-2 py-1 outline-indigo-900"
            type="tel"
            name="phone"
            id="popup-contact-phone"
            placeholder="6181234455"
            required>
        </div>
    </div>
    <div class="py-1"></div>
    <div class="flex">
        <div class="flex-1 basis-1/2">
            <label for="popup-payment-type" class="block text-stone-900 font-medium">Me interesa el pago:</label>
            <div class="py-px"></div>
            <select 
                class="w-full border border-stone-300 rounded px-2 py-1 outline-indigo-900"
                name="paymentType"
                id="popup-payment-type">
                <option value="cash" selected>De contado</option>
                <option value="credit">Financiado</option>
            </select>
        </div>
    </div>
    <div class="py-1"></div>
    <div class="flex gap-2">
        <input type="checkbox" name="consent" id="popup-contact-consent" required>
        <label for="popup-contact-consent" class="text-stone-900 font-bold text-xs">He leído y acepto los terminos de servicio de colinasdelmar.mx</label>
    </div>
    <div class="py-2"></div>
    <div class="flex">
        <button 
            class="bg-orange-500 text-stone-50 font-medium w-full py-2 rounded uppercase"
            type="submit"
            id="popup-contact-submit">Enviar</button>
    </div>
</form>
{{end}}
