{{define "header"}}
<header
    class="absolute top-0 left-0 right-0 flex items-center h-20 bg-stone-50/0 text-stone-50 z-50 overflow-x-hidden shadow-none w-screen gap-8 px-4"
    data-nav-wrapper="closed"
    id="header">
    <div
        class="w-8 aspect-square flex flex-col justify-evenly items-end text-stone-50 2xl:hidden"
        id="nav-toggler"
        data-nav-toggle="false">
        <span class="bg-current rounded-full h-[5px] w-full"></span>
        <span class="bg-current rounded-full h-[5px] w-full"></span>
        <span class="bg-current rounded-full h-[5px] w-full"></span>
    </div>

    <div class="max-w-3/5 flex-1 h-full overflow-hidden ml-auto hidden">
        <img
            class="h-full max-w-full object-center object-contain" 
            src="/static/img/colinas_logo.png"
            alt="Logo Colinas del mar"
            id="header-logo">
    </div>

    <ul class="hidden col-start-1 row-start-1 lg:flex gap-4 justify-self-end mr-6 text-stone-50" id="nav-menu-desktop">
        <li class="font-semibold">
            <a href="#seccion-ubicacion">Ubicacion</a>
        </li>
        <li class="font-semibold">
            <a href="#formulario-contacto">Contacto</a>
        </li>
        <li class="font-semibold">
            <a href="#seccion-plano">Plano</a>
        </li>
        <li class="font-semibold">
            <a href="/">Inicio</a>
        </li>
    </ul>

    <div class="fixed top-20 left-0 right-0 bg-stone-50 z-0 h-0 opacity-0 overflow-hidden md:top-32" id="nav-menu" data-nav-menu="">
        <ul class="text-stone-950 uppercase">
            <li class="py-2 px-4 border-stone-400 border-b border-t">
                <a href="/" class="">Inicio</a>
            </li>
            <li class="py-2 px-4 border-stone-400 border-b">
                <a href="#seccion-plano" class="">Plano</a>
            </li>
            <li class="py-2 px-4 border-stone-400 border-b">
                <a href="#formulario-contacto" class="">Contacto</a>
            </li>
            <li class="py-2 px-4 border-stone-400 border-b">
                <a href="#seccion-ubicacion" class="">Ubicacion</a>
            </li>
            <li class="py-2 px-4 text-indigo-900 font-semibold border-stone-400 border-b">
                <a href="https://sibradgo.com.mx" class="">Sibra Durango</a>
            </li>
        </ul>
    </div>
</header>
{{end}}
