{{define "footer"}}
<footer class="bg-indigo-950 px-4 py-8 pb-12">
    <div class="space-y-6 mx-auto xl:max-w-screen-xl xl:flex xl:space-y-0 gap-4">
        <div class="flex flex-col basis-1/4 shrink grow-0 pt-2 col-start-1 px-4 xl:px-0">
            <img src="/static/img/colinas_logo.png" alt="Logo de Sibra Durango" class="w-full object-center mx-auto px-8 pb-4">
            <p class="xl:w-[28ch] text-stone-100 text-lg font-light py-2 mx-auto">
            Descubre un lugar donde tus sueños de vivir en armonía con la naturaleza
            se hacen realidad. Nuestro desarrollo inmobiliario combina comodidad,
            seguridad y exclusividad en cada detalle. Tu hogar ideal te espera aquí.
            </p>
        </div>
        <div class="basis-1/4 shrink grow px-4 xl:px-6">
            <h2 class="text-xl text-stone-50 font-bold pb-4 uppercase">Menú</h2>
            <ul class="space-y-2 text-lg font-light text-stone-50">
                <li class="">
                    <a href="/" class="">Inicio</a>
                </li>
                <li class="">
                    <a href="/#seccion-plano" class="">Plano</a>
                </li>
                <li class="">
                    <a href="/#seccion-ubicacion" class="">Ubicación</a>
                </li>
                <li class="">
                    <a href="/#seccion-plano" class="">Plano</a>
                </li>
            </ul>
        </div>
        <div class="space-y-4 basis-1/4 shrink-0 grow-0 px-4">
            <h2 class="text-xl font-bold text-stone-50 uppercase">Comunicate</h2>
            <ul class="space-y-4 text-stone-50 text-lg">
                <li class="flex gap-5">
                    <svg class="w-12 h-12 my-auto fill-stone-50">
                        <use href="/static/svg/whatsapp.svg#whatsapp"></use>
                    </svg>
                    <div class="">
                        <strong>Por Whatsapp</strong>
                        <div>618-166-4111</div>
                    </div>
                </li>
                <li class="flex gap-5">
                    <svg class="w-12 h-12 my-auto fill-stone-50">
                        <use href="/static/svg/sprites.svg#phone"></use>
                    </svg>
                    <div class="">
                        <strong>Por llamada</strong>
                        <div>669-458-8259</div>
                    </div>
                </li>
            </ul>
            <ul class="flex gap-4 flex-wrap items-center text-stone-300 pt-2">
                <li class="text-center">
                    <a href="https://www.facebook.com/sibramx" class="hover:text-[#4267B2]">
                        <svg class="w-6 h-6 fill-current">
                            <use href="/static/svg/fb.svg#fb"></use>
                        </svg>
                    </a>
                </li>
                <li class="text-center">
                    <a href="https://www.instagram.com/sibra.mx" class="hover:text-[#E1306C]">
                        <svg class="w-6 h-6 fill-current">
                            <use href="/static/svg/sprites.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <!-- <li class="text-center">
                    <a href="https://x.com/sibra" class="hover:text-[#F5F8FA]">
                        <svg class="w-6 h-6 fill-current">
                            <use href="/static/svg/x.svg#x"></use>
                        </svg>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</footer>
{{end}}
